
javascript:
  $('body, html').css({'background-color': '#51585f', color: 'white'});

= render 'shared/github'

.container

  /h1
  #home-title.page-title.row.justify-content-center
    = @title = 'Ruby Pagination Comparison'

  #home.section

    #gem.row.justify-content-center.fas.fa-gem.fa-6x

    #gems.row.justify-content-center
      h4
        span pagy / will_paginate / kaminari

    #headline.row.justify-content-center

      h3 Same output... different performance

    #compare.row.justify-content-center
      = link_to "Compare", "#{ENV['RAILS_RELATIVE_URL_ROOT']}/gems.html?page=20", class: 'fas fa-balance-scale'


#links.footer
  = link_to "Gems Comparison", "#{ENV['RAILS_RELATIVE_URL_ROOT']}/gems.html?page=20", class: 'fas fa-gem'
  = link_to "Pagy Comparisons", "#{ENV['RAILS_RELATIVE_URL_ROOT']}/pagy.html?page=20", class: 'fas fa-balance-scale'
